{% extends 'base.html' %}

{% block title %}Base Case{% endblock %}

{% block body %}
<div class="row">

  <div class="col-md-12">
    <div class="block"><h3>Person:</h3></div>
    <div>Credit Score: {{ person.credit_score }}</div>
    <div>State: {{ person.state }}</div>
  </div>

  <div class="col-md-12 mt-3">
    <div class="block"><h3>Extra Rules (Income):</h3></div>
    <div>Employment Status (required): {{ person.currentlyEmployed }}</div>
    <div>Income (min 50000): {{ person.currentIncome }}</div>
    <div>DTI (max 0.41): {{ person.debtToIncome }}</div>
  </div>

  <div class="col-md-12 mt-3">
    <div class="block"><h3>Product:</h3></div>
    <div>Name: {{ product.name }}</div>
    <div>Interest Rate: {{ product.interest_rate }}</div>
    <div>Disqualified: {{ product.disqualified }}</div>
  </div>

</div>
{% endblock %}